{% extends 'base.html' %} 

{% block head_title %}Home{% endblock %} 

{% block content%}

<div class="row">
    <div class="col text-center">
        <h1 class="mb-4">Welcome to Tweetme 2 </h1>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" method="POST" action="/tweets/create/">
            {% csrf_token %}
            <input type="hidden" value="/" name="next">
            <textarea class="form-control" name="content" placeholder="Your tweet..."></textarea>
            <button type="submit" class="btn btn-primary mt-4">Tweet</button>
        </form>
    </div>
</div>

<ul class="row" id="tweets">
    loading...
</ul>

<script>
    (async function() {
        const url = 'http://localhost:8000/tweets/';
    
        const response = await fetch(url, {
            method: 'get',
            headers: {            
                'Content-Type': 'application/json'
            },
        });

        const parsed = await response.json();
        const { tweets } = parsed;
        
        const list = document.getElementById('tweets');
        list.innerHTML = '';
        
        function handleLike(id, likes) {
            console.log(id, likes);
        }

        function likeButton(id, likes) {            
            const button = document.createElement('button');

            button.onclick = function() {               
                handleLike(id, likes);
            };

            button.classList.add('btn');
            button.classList.add('btn-primary');            
            button.style.display = 'block';
            button.style.margin = '10px 0 20px 0';
            button.textContent = `${likes} Likes`;

            return button;
        }

        function createTweetElement(tweet) {
            const element = document.createElement('li');                                    

            element.textContent = `id: ${tweet.id} -  ${tweet.content}`;
            element.setAttribute('id', `tweet-${tweet.id}`);
            element.classList.add('col-12');            
            element.classList.add('col-md-10');            
            element.classList.add('mx-auto');            
            element.classList.add('border');  
            element.classList.add('rounded');  
            element.classList.add('mb-4');                       
            element.classList.add('py-3');
            element.appendChild(likeButton(tweet.id, tweet.likes));
            
            return element;            
        }

        tweets.forEach(tweet => {            
            list.appendChild(createTweetElement(tweet));
        });

    })();
</script>
{% endblock %}
