{% extends 'base.html' %} 

{% block head_title %}Home{% endblock %} 

{% block content%}
<h1>Welcome to Tweetme2</h1>

<ul id="tweets">
    loading...
</ul>

<script>
    (async function() {
        const url = 'http://localhost:8000/tweets/';
    
        const response = await fetch(url, {
            method: 'get',
            headers: {            
                'Content-Type': 'application/json'
            },
        });

        const parsed = await response.json();
        const { tweets } = parsed;
        
        const list = document.getElementById('tweets');
        list.innerHTML = '';
        
        function createTweetElement(tweet) {
            const element = document.createElement('li');            
            element.textContent = `id: ${tweet.id} -  ${tweet.content}`;
            element.setAttribute('id', `tweet-${tweet.id}`);
            return element;            
        }

        tweets.forEach(tweet => {            
            list.appendChild(createTweetElement(tweet));
        });

    })();
</script>
{% endblock %}
